@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Side-Bar */


/*
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
*/

#sidebar {
    position: fixed;
    width: 30%;
    height: 100%;
    left: -30%;
    background-color: #a17643;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
.sidebar-header{
    font-size: 20px;
    font-weight: 900;
}

#sidebar li {
    color: white;
    font-size: 30px;
    padding: 30px;
    border-bottom: 1px solid gray;
    text-align: center;
}

.toggle-btn {
    position: absolute;
    left: 105%;
    top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.toggle-btn span {
    display: block;
    background-color: rgb(251, 251, 251);
    width: 30px;
    height: 2px;
}

#sidebar.active {
    left: 0;
    transition: 0.3s;
}


/* Side-Bar */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.main {
    background-color: #264143;
    padding: 69px;
    height: 100%;
}

.main-container {
    border: 2px solid #de5499;
    width: 84%;
    height: 84%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #234235;
}

.header {
    background-color: #de5499;
    height: 7%;
    width: 100%;
    padding: 5px 0px;
}

.content {
    background-color: #fff;
    height: calc(100% - 160px);
    width: 100%;
    border-bottom: 1px #141414 dotted;
}

::placeholder {
    color: white;
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 12px;
    bottom: 12px;
}

.txtHeader {
    font-size: 25px;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    margin: auto;
    display: block;
}

.txtContent {
    height: 100%;
    width: 100%;
    color: white;
    word-wrap: break-word;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1a2d2e;
}

.styleBtn {
    color: var(--color-primary);
    height: 40px;
    width: 40px;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.styleBtn:hover {
    background: #fc76b9;
    color: black;
    border-color: transparent;
}

/* save btn */

#submitBtn {
    border: 2px solid white;
    padding: 4px 36px;
    color: white;
    background-color: #de5499;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #cf218c;
    transition: ease-out .8s;
    font-size: 1.8rem;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#submitBtn:hover {
    box-shadow: inset 300px 0 0 0 #cf218c;
}


/* Notes Div */

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.note .details {
    max-height: 165px;
    overflow-y: auto;
}

.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar {
    width: 0;
}

.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar {
    width: 5px;
}

.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 25px;
}

.note p {
    font-size: 22px;
    font-weight: 500;
}

.note span {
    display: block;
    color: #575757;
    font-size: 16px;
    margin-top: 5px;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    width: 100%;
}

.bottom-content p {
    font-size: 15px;
}

.note .bottom-content {
    border-top: 1px solid black;
}

.bottom-icons {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}